@charset "UTF-8";
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
body{background-color:#fff;color:#000;font-size:16px;line-height:150%;letter-spacing:-1px;-webkit-text-size-adjust:none;word-wrap:break-word;word-break:keep-all;font-family:'Noto Sans KR', sans-serif, Dotum,"돋움",Gulim,"굴림",Helvetica,Apple-Gothic;-webkit-text-size-adjust:none;}
body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,address,ul,ol,li,dl,dt,dd,table,caption,th,td,form,fieldset,legend,hr,select,input,textarea{margin:0;padding:0;}
ul,ol{list-style:none;}
table{margin:0;padding:0;border-spacing:0;border:0;_border-collapse:collapse;width:100%;}
*+html table{border-collapse:collapse;}
img,fieldset,abbr,acronym{border:0;}
address,caption,cite,code,dfn,var{font-style:normal;font-weight:normal;}
em{font-style:normal;}
input, button,textarea{padding:0;color:#000;font-family:'Noto Sans KR', sans-serif, Dotum,"돋움",Gulim,"굴림",Helvetica,Apple-Gothic;}
table{border-collapse:collapse;border-spacing:0}
table,table th,table td{border:0;}
hr{display:none}
a{color:#000;text-decoration:none;}
img{vertical-align:middle;}
body{background-color:#fff;}
.sound-only,
caption,
legend{ position: absolute !important; width: 1px !important; height: 1px !important; clip: rect(0 0 0 0) !important; overflow: hidden !important; border: 0 !important; padding: 0 !important; margin: -1px !important; }
.hidden{display:none}
.tabHidden{position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;overflow:hidden;}
.gLeft{float:left;}
.gRight{float:right;}
input::-ms-clear{display:none;}
::-webkit-input-placeholder{color:#a4a4a4;} /* Chrome/Opera/Safari */
::-moz-placeholder{color:#a4a4a4;} /* Firefox 19+ */
:-ms-input-placeholder{color:#a4a4a4;} /* IE 10+ */
:-moz-placeholder{color:#a4a4a4;} /* Firefox 18- */

#skipnavigation{position:relative;z-index:110;}
#skipnavigation .skip{position:absolute;top:0;left:0;}
#skipnavigation a{display:block;height:1px;width:1px;margin-bottom:-1px;overflow:hidden;text-align:center;color:#000;white-space:nowrap;}
#skipnavigation a:focus,
#skipnavigation a:active{height:auto;width:auto;padding:5px;margin-bottom:10px;}

html,
body{position:relative;height:100%;}
body.hiddenScroll{overflow:hidden;}

#wrap{position:relative;min-width:1300px;min-height:calc(100% - 230px);}
#footer .bg,
#wrap .bg{position:relative;margin:0 auto;width:1282px;zoom:1;}
#wrap .bg:after{display:block;clear:both;content:''}

.forMobile{display:none;}
.br{display:block;}

.text_emph1{color:#03f1f4;}
.text_emph2{color:#3b81d1;}

body.active input[id="hamburger"] + label,
body.active #header{top:-100px;}

#header{position:absolute;top:0;left:0;width:100%;z-index:100;transition:all 0.4s 0s;}
#header .bg{padding:0 15px;max-width:1280px;width:auto;height:114px;}
#header h1{float:left;padding:10px 54px 0 0;text-align:center;}
#header .all{position:absolute;top:27px;right:25px;background:url(../images/ico_menu1.png) 0 0 no-repeat;text-indent:-9999px;font-size:0;width:28px;height:20px;}

#footer{position:relative;background-color:#fff;border-top:1px solid rgba(0,0,0,0.1);}
#footer .bg{zoom:1;}
#footer .bg:after{display:block;clear:both;content:''}
#footer .logo{float:left;padding:66px 0;}
#footer .text{color:#0c0c0c;font-size:18px;line-height:180%;letter-spacing:-1px;padding:68px 0 30px 210px;}
#footer .text .gab1{padding-left:15px;}
#footer .text .copy{color:#616161;padding-left:15px;}

#body{background-color:#fff;margin:0 auto 0;padding:110px 0 100px;}

.mGnb{position:relative;margin:24px 75px 0 136px;height:73px;}
.mGnb ul{position:absolute;top:0;right:0;height:62px;overflow:hidden;transition:all 0.4s 0s;}
.mGnb li{position:relative;float:left;width:163px;text-align:center;}
.mGnb li .dep1{position:relative;z-index:2;}
.mGnb li .dep1 a{display:block;color:#fff;font-size:20px;}
.mGnb li .dep1 a span{position:relative;display:inline-block;line-height:73px;height:73px;}
.mGnb li .dep2{position:absolute;top:73px;left:0;padding:25px 0 0;text-align:left;width:100%;z-index:1;overflow:hidden;}
.mGnb li .dep2 .ls{position:relative;}
.mGnb li .dep2 .ls + .ls{margin-top:12px;}
.mGnb li .dep2 a{display:inline-block;position:relative;color:#fff;font-size:17px;padding:0 0 0 25px;}
.mGnb li .dep2 a:hover{color:#b1ebfb;}
.mGnb li.m1 .dep2 a{padding-left:42px;}
.mGnb li.m3 .dep2 a,
.mGnb li.m4 .dep2 a{padding-left:51px;}
.mGnb .back{position:fixed;top:97px;left:0;background-color:rgba(4,4,4,0.6);width:100%;height:0;transition:all 0.4s 0s;}

.mGnb.active ul,
.mGnb ul:hover{height:263px;}
.mGnb.active ul + .back,
.mGnb ul:hover + .back,
.mGnb.active ul .dep2,
.mGnb ul:hover .dep2{height:190px}
.mGnb li:hover .dep2{background-color:#020405;}
.mGnb li.active .dep1 span:before,
.mGnb li:hover .dep1 span:before{content:"";position:absolute;bottom:16px;left:-3px;background-color:rgba(255,255,255,0.5);width:calc(100% + 6px);height:2px;}

.mKeymain{position:relative;text-align:center;margin:0 0 158px;width:100%;height:500px;height:100vh;overflow:hidden;} 
.mKeymain .swiper-slide{background-image:url(../images/img_keymain1.jpg);background-position:50% 0;background-repeat:fixed;background-size:auto 170%;height:100vh;}
.mKeymain .swiper-slide.ls2{background-image:url(../images/img_keymain2.jpg);}
.mKeymain .swiper-slide.ls3{background-image:url(../images/img_keymain3.jpg);}
.mKeymain .text{position:absolute;bottom:120px;left:50%;transform:translateX(-50%);text-align:left;width:1280px;}
.mKeymain .text h3{color:#fff;font-size:40px;font-weight:500;letter-spacing:-4px;line-height:100%;}
.mKeymain .text h3 span{position:relative;text-shadow:1px 0 10px rgba(0,0,0,0.8);font-weight:normal;line-height:140%;}
.mKeymain .text h3 span strong{display:block;margin-top:-5px;}
.mKeymain .text .info{position:relative;color:#fff;font-size:20px;line-height:150%;margin:23px 0 0;padding:0 0 0 18px;}
.mKeymain .text .info:before{content:"";position:absolute;top:7px;left:0;background-color:#fff;border-radius:5px;width:5px;height:calc(100% - 10px);}
.mKeymain .swiper-pagination{bottom:120px;left:50% !important;transform:translateX(-50%);text-align:right;width:1280px;}
.mKeymain .swiper-pagination .swiper-pagination-bullet{background-color:#fff;margin-left:26px;width:19px;height:19px;}

.mKeysub{position:relative;background:url(../images/k_keysub1.jpg) 50% 0 fixed;background-size:cover;text-align:center;width:100%;height:500px;height:80vh;}
.mKeysub h3{position:absolute;bottom:98px;left:50%;color:#fff;font-size:44px;font-weight:500;transform:translateX(-50%);text-align:left;width:1280px;}
.mKeysub h3 span{position:relative;text-shadow:1px 0 10px rgba(0,0,0,0.8);padding:0 20px 0 0;}
.mKeysub h3 span:before{content:"";position:absolute;top:-11px;right:0;background:url(../images/ico_title1.png) 50% 0 no-repeat;width:33px;height:33px;}
.mKeysub.type1_2{background-image:url(../images/k_keysub1_2.jpg);}
.mKeysub.type1_3{background-image:url(../images/k_keysub1_3.jpg);}
.mKeysub.type1_4{background-image:url(../images/k_keysub1_3.jpg);}
.mKeysub.type2{background-image:url(../images/k_keysub2.jpg);}
.mKeysub.type2_2{background-image:url(../images/k_keysub2_2.jpg);}
.mKeysub.type2_3{background-image:url(../images/k_keysub2_3.jpg);}
.mKeysub.type3{background-image:url(../images/k_keysub3.jpg);}
.mKeysub.type4{background-image:url(../images/k_keysub4.jpg);}
.mKeysub.type5{background-image:url(../images/k_keysub5.jpg);}

.mTitle1{font-size:35px;font-weight:500;line-height:130%;text-align:center;}
.mTitle1.mb80{margin-bottom:80px;}
.mTitle1 span{position:relative;display:inline-block;padding:0 0 15px;}
.mTitle1 span:before{content:"";position:absolute;bottom:0;left:0;background-color:#535353;width:100%;height:2px;}

.mTitle1.type2 span{font-size:40px;padding:15px 0 0;}
.mTitle1.type2 span:before{bottom:auto;top:0;}

.mInfo1{font-size:23px;text-align:center;margin-top:37px;}
.mInfo2{font-size:28px;line-height:200%;text-align:center;margin-top:37px;}
.mInfo2.left{text-align:left;}

.mSub1.type2{background-color:#f8f8f8;}
.mSub1.type2 dd li,
.mSub1.type2 dd.current li{background-color:#fff;}

.mSub1{padding-bottom:120px;}
.mSub1 .list1{margin:0 auto;padding:101px 0 0;width:1130px;}
.mSub1 .list1 + .list1{padding-top:50px;}
.mSub1 dt{position:relative;float:left;width:200px;}
.mSub1 dt span{display:block;background-color:#545454;border-radius:60px;color:#fff;font-size:54px;text-align:center;line-height:54px;height:60px;}
.mSub1 dt em{position:absolute;bottom:-28px;left:0;display:block;color:#343434;font-size:26px;padding:0 0 0 45px;opacity:0.76;}
.mSub1 dd{padding:0 0 50px 167px;}
.mSub1 dd:last-child{padding-bottom:0;}
.mSub1 dd li{background-color:#f9f8f9;border-radius:60px;font-size:28px;line-height:130%;margin:0 0 25px;padding:12px 50px 12px 105px;}
.mSub1 dt.current span{background-color:#0387be;}
.mSub1 dd.current li{background-color:#eff6fb;}
.mSub1 + .mSub1{padding-top:120px;}

.mSub1.type3{padding:80px 0 100px;}
.mSub1.type3:first-child,
.mSub1.type3 .list1{padding-top:0;}
.mSub1.type3 dd li,
.mSub1.type3 dd.current li,
.mSub1.type3 dd li{background-color:transparent;}
.mSub1.type3 dd li{position:relative;font-size:25px;margin-bottom:4px;padding-right:0;}
.mSub1.type3 dd li .dt{position:absolute;top:13px;left:105px;}
.mSub1.type3 dd li .tx{display:block;padding:0 0 0 160px;}
.mSub1.type3 .list1.bgGray{background-color:#f8f8f8;}

.mSub1.type4:first-child,
.mSub1.type4 .list1{position:relative;padding-top:65px;width:auto;}
.mSub1.type4 dt{float:none;padding:0 0 41px;}
.mSub1.type4 dt span{width:173px;line-height:51px;height:55px;}
.mSub1.type4 dd{padding:0 0 0 0;}
.mSub1.type4 dd li,
.mSub1.type4 dd.current li,
.mSub1.type4 dd li{background-color:transparent;}
.mSub1.type4 dd li{position:relative;font-size:25px;letter-spacing:-2px;margin-bottom:4px;padding:0 0 24px 63px;}
.mSub1.type4 dd li:before{content:"";position:absolute;top:11px;left:35px;border-radius:50%;background-color:#0387be;width:14px;height:14px;}
.mSub1.type4 dd li .dt{position:absolute;top:13px;left:105px;}
.mSub1.type4 dd li .tx{display:block;padding:0 0 0 160px;}
.mSub1.type4 .map{position:absolute;top:165px;right:0;}

.mSub2 .con1{margin:0 0 140px;text-align:center;}

.mSub3{background-color:#f8f8f8;text-align:center;}
.mSub3 .con{position:relative;margin:0 auto;width:1010px;}
.mSub3 .con .txt1{position:absolute;top:490px;left:0;color:#000;letter-spacing:-1px;line-height:180%;font-size:25px;width:100%;}
.mSub3 .list .rt,
.mSub3 .list .lt{position:absolute;top:105px;left:6px;}
.mSub3 .list .rt{left:auto;right:0;}
.mSub3 .list .col + .col{margin:60px 0 0;}
.mSub3 .list .col .tx{display:block;color:#000;font-size:20px;padding:3px 0 0;}
.mSub3 .list .col .tx.fs18{font-size:18px;letter-spacing:-1px;}

.mSub4 .con1{background-color:#eff6fb;padding:110px 0;}
.mSub4 .con1 .mTitle1{margin:0 0 75px;}
.mSub4 .con1 ul{margin:0 auto;width:1220px;zoom:1;}
.mSub4 .con1 ul:after{display:block;clear:both;content:''}
.mSub4 .con1 li{position:relative;float:left;width:33.33%;}
.mSub4 .con1 li .txt{position:absolute;top:65px;left:122px;color:#fff;font-size:31px;line-height:140%;}

.mSub5 .mTitle1{margin:0 0 110px;}
.mSub5 .con1{padding:0 0 130px;text-align:center;}
.mSub5 .mInfo2{background-color:#f9f8f9;padding:110px 0;}

.mSub6 .list.bgWhite{background-color:#fff;}
.mSub6 .list{background-color:#eff6fb;padding:110px 0 0;}
.mSub6 .list ul{margin:0 auto;width:1380px;zoom:1;}
.mSub6 .list ul:after{display:block;clear:both;content:''}
.mSub6 .list li{float:left;margin-left:15px;text-align:center;width:333px;}
.mSub6 .list li:first-child{margin-left:0;}
.mSub6 .list li .txt{display:block;color:#343434;font-size:25px;padding-right:24px;line-height:150%;min-height:150px;}
.mSub6 .list li .txt .ts{display:block;font-size:20px;margin:10px 0 0;line-height:120%;}

.mSub7{background-color:#f9f8f9;padding:75px 0;}
.mSub7 .bg{width:1380px !important;}
.mSub7 .map{float:left;width:650px;height:550px;}
.mSub7 .txt{padding:0 0 0 685px;}
.mSub7 .txt li{border-radius:15px;background:url(../images/ico_intro1_4_1.png) 35px 50% no-repeat;background-color:#fff;padding:30px 0 30px 165px;}
.mSub7 .txt li + li{margin-top:25px;}
.mSub7 .txt li .ti{display:block;font-size:28px;font-weight:500;padding:0 0 10px;}
.mSub7 .txt li .ls{position:relative;font-size:23px;line-height:140%;padding:0 0 5px 10px;}
.mSub7 .txt li .ls:before{content:"-";position:absolute;top:0;left:0;}
.mSub7 .txt li.ls2{background-image:url(../images/ico_intro1_4_2.png);}
.mSub7 .txt li.ls3{background-image:url(../images/ico_intro1_4_3.png);}
.mSub7 .info{font-size:28px;line-height:140%;padding:60px 0 0;text-align:center;}
.mSub7 .info .gab1{margin-left:30px;}

.mSub9 .mTitle1{margin-bottom:70px;}
.mSub9 .mTitle1 + .mInfo2{margin-top:-40px;}
.mSub9 .list ul{zoom:1;}
.mSub9 .list ul:after{display:block;clear:both;content:''}
.mSub9 .con + .con{margin-top:150px;}
.mSub9 .con1 .list{background:url(../images/img_business3_1_1.jpg) 0 0 no-repeat;background-size:cover;padding:135px 0 120px;}
.mSub9 .con1 .list ul{margin:0 auto;width:1170px;}
.mSub9 .con1 .list li{float:left;background-color:#fff;border-radius:20px;margin:0 0 0 75px;text-align:center;padding:17px 0 0;width:340px;height:443px;}
.mSub9 .con1 .list li:first-child{margin-left:0;}
.mSub9 .con1 .list li .img{border-radius:15px;margin:0 auto;overflow:hidden;width:309px;}
.mSub9 .con1 .list li .txt{padding:35px 0 0;}
.mSub9 .con1 .list li .txt .ti{font-size:28px;font-weight:500;}
.mSub9 .con1 .list li .txt .tx{font-size:10px;font-size:20px;line-height:150%;margin:27px 0 0;}

.mSub9 .con2 .list{margin:75px auto 0;width:1280px;zoom:1;}
.mSub9 .con2 .list:after{display:block;clear:both;content:''}
.mSub9 .con2 .list ul{float:left;width:50%;}
.mSub9 .con2 .list li{position:relative;float:left;text-align:center;width:50%;}
.mSub9 .con2 .list li:before{content:"";position:absolute;top:70px;left:-30px;background:url(../images/ico_business3_1_3.png) 0 0 no-repeat;width:68px;height:37px;}
.mSub9 .con2 .list li:first-child:before{display:none;}
.mSub9 .con2 .list li .txt{padding:50px 0 0;}
.mSub9 .con2 .list li .txt .ti{font-size:35px;font-weight:500;line-height:140%;padding-top:45px;}
.mSub9 .con2 .list li .txt .ti.pt0{padding-top:0;}
.mSub9 .con2 .list li .txt .ti strong{color:#0387be;}
.mSub9 .con2 .list li .txt .tx{font-size:20px;padding:15px 0 0;line-height:180%;}

.mSub9 .con3{background-color:#eff6fb;padding:110px 0 140px;}
.mSub9 .con3 .list{margin:75px auto 0;width:1280px;zoom:1;}
.mSub9 .con3 .list:after{display:block;clear:both;content:''}
.mSub9 .con3 .list ul{float:left;width:50%;}
.mSub9 .con3 .list li{position:relative;float:left;text-align:center;width:50%;}
.mSub9 .con3 .list li:before{content:"";position:absolute;top:70px;left:-30px;background:url(../images/ico_business3_1_3.png) 0 0 no-repeat;width968px;height:37px;}
.mSub9 .con3 .list li:first-child:before{display:none;}
.mSub9 .con3 .list li .txt .ti{font-size:35px;font-weight:500;line-height:140%;padding:48px 0 10px;}
.mSub9 .con3 .list li .txt .ti strong{color:#0387be;}
.mSub9 .con3 .list li .txt .tx{font-size:20px;padding:15px 0 0;line-height:180%;}

.mSub9 .con4 .mInfo2{font-size:25px;}
.mSub9 .con4 .mInfo2.fs18{font-size:18px;margin-top:85px;}
.mSub9 .con4 .list{margin:75px auto 0;width:1280px;}
.mSub9 .con4 .list li{float:left;text-align:center;width:33.33%;}
.mSub9 .con4 .list li .tit{font-size:20px;}
.mSub9 .con4 .list li .txt{font-size:18px;line-height:150%;padding:15px 0 0;}
.mSub9 .con4 .list li .txt strong{font-size:20px;}

.mSu8{margin-top:-20px !important;}
.mSu8 ul{margin:65px auto 0;width:1102px;zoom:1;}
.mSu8 ul:after{display:block;clear:both;content:''}
.mSu8 li{float:left;background-color:#4f6588;font-size:25px;color:#fff;margin:0 22px 45px;text-align:center;width:323px;height:140px;}
.mSu8 li .ti.type2{background-position:50% 26px;padding-top:55px;}
.mSu8 li .ti{display:block;background:url(../images/ico_recruit2.png) 50% 36px no-repeat;padding:65px 0 0;}
.mSu8 li .ti .s{font-size:20px;}
.mSu8 li.image{padding:82px 0 0;text-align:center;height:280px;background:url(../images/img_recruit2_1.jpg) 0 0 no-repeat;}
.mSu8 li.image .ic{background-color:#fff;display:inline-block;font-size:20px;color:#000;font-weight:500;padding:0 25px;border-radius:37px;line-height:37px;height:37px;}
.mSu8 li.image .ti{display:block;background:none;font-size:35px;margin:30px 0 0;padding-top:0;}
.mSu8 li.image .tx{display:block;font-size:23px;line-height:130%;margin:20px 0 0;}
.mSu8 li.ls2{background-image:url(../images/img_recruit2_2.jpg);}
.mSu8 li.ls3{background-image:url(../images/img_recruit2_3.jpg);}
.mSu8 li.ls4{background-image:url(../images/img_recruit2_4.jpg);}
.mSu8 li.ls5{background-image:url(../images/img_recruit2_5.jpg);}
.mSu8 li.ls6{background-image:url(../images/img_recruit2_6.jpg);}
.mSu8 li.ls8{background-color:#afa287;}
.mSu8 li.ls9{background-color:#434548;}
.mSu8 li.ls10{background-color:#75745c;}
.mSu8 li.ls11{background-color:#84a3c2;}
.mSu8 li.ls12{background-color:#008299;}

.w1280{margin:0 auto;width:1280px;}

.mStep1 ul{display:-webkit-flex;display:flex; }
.mStep1 li{position:relative;-webkit-flex:1;flex:1;text-align:center;background:url(../images/ico_step1_1.png) 50% 0 no-repeat;padding:178px 0 0;}
.mStep1 li:before{content:"";position:absolute;top:182px;left:-7px;background:url(../images/ico_step2.png) 0 0 no-repeat;width:15px;height:26px;}
.mStep1 li:first-child:before{display:none;}
.mStep1 li > span{display:block;}
.mStep1 li .st{font-size:20px;}
.mStep1 li .ti{font-size:30px;font-weight:500;margin:23px 0 0;}
.mStep1 li .tx{color:rgba(0,0,0,0.8);font-size:17px;margin:12px 0 0;}
.mStep1 li.s2{background-image:url(../images/ico_step1_2.png);}
.mStep1 li.s3{background-image:url(../images/ico_step1_3.png);}
.mStep1 li.s4{background-image:url(../images/ico_step1_4.png);}
.mStep1 li.s5{background-image:url(../images/ico_step1_5.png);}
.mStep1 + .mTitle1{margin-top:170px;}

.mTab1{margin:-65px  auto 105px;text-align:center;zoom:1;}
.mTab1:after{display:block;clear:both;content:''}
.mTab1 .ls{display:inline-block;}
.mTab1 .ls a{display:block;background-color:#fff;color:#000;font-size:25px;padding:0 47px;line-height:36px;height:40px;}
.mTab1 .ls.active a{background-color:#01426b;color:#fff;}

.mGrid1.bgWhite{background-color:#fff;}
.mGrid1{background-color:#f2f2f2;text-align:center;padding:100px 0 80px;}
.mGrid1 .list{margin:0 auto;width:1200px;zoom:1;}
.mGrid1 .list:after{display:block;clear:both;content:''}
.mGrid1 .list .lt,
.mGrid1 .list .rt{float:left;text-align:center;width:50%;}
.mGrid1 .list .tx{display:block;font-size:30px;padding:30px 0 50px;}
.mGrid1 + .mInfo2{margin:90px 0;}
.mGrid1 + .mInfo2.mt1{margin-top:50px;}

.mList1{margin:0 auto;padding:230px 0 0;width:1380px;}
.mList1 ul{zoom:1;}
.mList1 ul:after{display:block;clear:both;content:''}
.mList1 li{float:left;font-size:22px;font-size:22px;padding:0 0 110px;text-align:center;width:25%;}
.mList1 li .txt{display:block;padding:20px 0 0;}

.mList2{padding:155px 0 100px;}
.mList2 .mTitle1{margin-bottom:110px;}
.mList2 ul{margin:0 auto;width:1401px;zoom:1;}
.mList2 ul:after{display:block;clear:both;content:''}
.mList2 li{float:left;border:2px solid #e3e3e3;background-color:#fff;box-shadow:inset -5px -5px 2px 2px rgba(0,0,0,0.02);border-radius:15px;margin:0 10px 20px;padding:20px;}

.mImage1{position:relative;background-color:#f8f8f8;padding:120px 0 130px;text-align:center;}
.mImage1:before{content:"";position:absolute;bottom:-26px;left:50%;margin-left:-27.5px;background:url(../images/ico_engine2_3_1.png) 0 0 no-repeat;background-size:55px auto;width:55px;height:78px;}

.mTitle1 + .mView1,
.mTitle1 + .mBoard1{margin-top:65px;}
.mBoard1 .w1{width:195px;}
.mBoard1 .w2{width:285px;}
.mBoard1 th,
.mBoard1 td{border-bottom:1px solid #bfbfbf;text-align:center;font-size:20px;height:78px;}
.mBoard1 thead th{background-color:#01426b;color:#fff;font-size:22px;font-weight:normal;height:60px;}
.mBoard1 .tit{text-align:left;}

.mView1{border-bottom:1px solid #bfbfbf;}
.mView1 .title{position:relative;background-color:#01426b;font-size:22px;font-weight:bold;line-height:140%;color:#fff;padding:18px 250px 18px 75px;}
.mView1 .title .date{position:absolute;top:18px;right:0;width:200px;}
.mView1 .article{font-size:20px;line-height:240%;padding:60px 75px;}

.mPn1 > div{position:relative;border-top:1px solid #bfbfbf;font-size:20px;padding:22px 30px 22px 230px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.mPn1 .ti{position:absolute;top:22px;left:85px;color:#929293;}

.mButton1{padding:25px 0 0;text-align:center;}
.mButton1.right{text-align:right;}
.mBtn1{display:inline-block;background-color:#0387be;border-radius:8px;color:#fff;font-size:20px;padding:0 20px;text-align:center;min-width:60px;line-height:40px;height:40px;}

.mPag{margin:45px 0 0;line-height:normal;text-align:center;}
.mPag a,
.mPag strong{display:inline-block;background-color:#fff;color:#242325;text-decoration:none;font-size:20px;vertical-align:middle;text-align:center;min-width:50px;line-height:50px;height:50px;}
.mPag strong,
.mPag .selected{background-color:#b1b3b5;border-color:#b1b3b5;color:#fff;}
.mPag .first,
.mPag .last,
.mPag .prev,
.mPag .next{position:relative;display:inline-block;background:url(../images/ico_pag_first.png) 50% 50% no-repeat #fff;border-color:#c6c6c6;font-size:12px;margin:0;text-indent:-9999px;font-size:0;overflow:hidden;z-index:10;}
.mPag .first{margin-right:-6px;}
.mPag .next,
.mPag .last{background-image:url(../images/ico_pag_last.png);}
.mPag .prev{background-image:url(../images/ico_pag_prev.png);}
.mPag .next{background-image:url(../images/ico_pag_next.png);}

.mMain1 .mTitle1{margin-bottom:70px;}
.mMain1 ul{position:relative;zoom:1;}
.mMain1 ul:after{display:block;clear:both;content:''}
.mMain1 li{position:relative;float:left;background:url(../images/img_main1_1.jpg) 50% 50% no-repeat;background-size:cover;width:33.33%;height:698px;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;transition: all 0.6s ease;z-index: 1;}
.mMain1 li a{display:block;}
.mMain1 li .text{display:block;position:absolute;bottom:0;left:0;padding:0 0 55px 75px;}
.mMain1 li .text .tit{display:block;color:#fff;font-size:30px;line-height:130%;}
.mMain1 li .text .tit strong{display:block;color:#addffe;font-size:50px;font-weight:500;letter-spacing:-2px;margin:20px 0 35px;}
.mMain1 li .text .txt{display:block;position:relative;color:#fff;font-size:25px;line-height:130%;height:0;overflow:hidden;-webkit-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;transition: all 0.6s ease;}
.mMain1 li .text .txt .arr{display:block;background:url(../images/ico_more1.png) 0 0 no-repeat;margin:50px 0 0;width:40px;height:40px;}
.mMain1 li.ls2{background-image:url(../images/img_main1_2.jpg);}
.mMain1 li.ls2 .text .tit strong{color:#07cccc;}
.mMain1 li.ls3{background-image:url(../images/img_main1_3.jpg);}
.mMain1 li.ls3 .text .tit strong{color:#fde7b1;}
.mMain1 li.notHover{width:30%;}
.mMain1 li.hover{width:40%;}
.mMain1 li.hover .text .txt{height:190px;}
.mMain1 + .mMain2{margin-top:165px;}

.mMain2 .mTitle1{margin-bottom:70px;}
.mMain2 ul{position:relative;zoom:1;}
.mMain2 ul:after{display:block;clear:both;content:''}
.mMain2 li{position:relative;float:left;background:url(../images/img_main3_1.jpg) 50% 50% no-repeat;background-size:cover;width:33.33%;height:520px;-webki2-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;transition: all 0.6s ease;z-index: 1;}
.mMain2 li .text{display:block;position:relative;height:100%;}
.mMain2 li .text .tit{display:block;color:#fff;font-size:20px;letter-spacing:0;line-height:130%;padding:85px 0 0 75px;}
.mMain2 li .text .tit strong{display:block;font-size:50px;font-weight:500;letter-spacing:-2px;margin:20px 0 35px -3px;}
.mMain2 li .text .txt{display:block;color:#fff;font-size:20px;line-height:130%;padding:110px 0 0 75px;}
.mMain2 li .text .txt .tx{display:block;}
.mMain2 li .text .txt .bt{display:inline-block;background:url(../images/ico_arrow1.png) calc(100% - 33px) 50% no-repeat;color:#fff;font-size:18px;border:1px solid #fff;border-radius:60px;margin:30px 0 0;padding:0 100px 0 35px;line-height:60px;height:60px;}
.mMain2 li.ls2{background-image:url(../images/img_main3_2.jpg);}
.mMain2 li.ls3{background-image:url(../images/img_main3_3.jpg);}
.mMain2 li.notHover{width:30%;}
.mMain2 li.hover{width:40%;}

.sidebar,
input[id="hamburger"],
input[id="hamburger"] + label:before,
input[id="hamburger"] + label:after{display:none;}
input[id="hamburger"] + label{display:none;}

.txtPrimary{color:#1e525c;}

.modalBg{position:fixed;top:0;left:0;background-color:rgba(0,0,0,0.5);width:100%;height:100%;}

/* for chrome */
@media screen and (-webkit-min-device-pixel-ratio:0){
	
}
@media all and (min-width:769px){
	
}
/* screen resolutions lower than 768px */
@media all and (max-width:768px){
	
	body.hiddenScroll{overflow:hidden;}
	
	#footer,
	#wrap{min-width:auto;}
	#footer .bg,
	#wrap .bg{min-width:auto;width:auto;}
	
	.jsAllMenu,
	.mGnb,
	.forWeb{display:none;}
	.forMobile{display:block;}
	.br{display:inline;}
	.brForMobile{display:block;}
	.blockForMobile{display:block;}
	span.forMobile{display:inline;}
	.hiddenForMobile{display:none;}
	
	body{min-width:auto;}

	#header{position:absolute;}
	#header .bg{padding:0 15px;line-height:82px;height:82px;}
	#header h1{padding:0;}
	#header h1 img{margin-top:-9px;height:31px;}
	
	#body{padding:50px 0;}

	#footer{background-color:#fff;border-top:0;}
	#footer .link{background-color:#f8f8f8;display:-webkit-flex;display:flex;}
	#footer .link a{position:relative;-webkit-flex:1;flex:1;font-size:14px;text-align:center;padding:25px 0;}
	#footer .link a:before{content:"";position:absolute;top:50%;left:-1px;margin-top:-5px;background-color:#5c606e;width:1px;height:10px;}
	#footer .text{font-size:10px;letter-spacing:0;padding:15px 0;text-align:center;}
	#footer .text .gab1{display:inline-block;}
	#footer .text .copy{display:block;}
	
	#footer .sns{margin:0 0 25px;text-align:center;}
	#footer .sns a.iBlog,
	#footer .sns a.iYoutube{display:inline-block;background:url(../images/ico_blog1_m.png) 0 0 no-repeat;background-size:33px auto;text-indent:-9999px;font-size:0;margin:0 0 0 20px;padding:0;width:33px;height:33px;}
	#footer .sns a.iYoutube{background-image:url(../images/ico_youtube1_m.png);margin-left:8px;}
	
	.sidebar{display:block;position:fixed;top:0;right:-100%;width:100%;height:100%;overflow:hidden;z-index:1000;transition:all 0.35s;z-index:1220;}
	.sidebar .modalBg{display:none;transition:all 0.4s 0s;}
	.sidebar .sidebarBg{position:relative;float:right;background-color:#fff;width:60%;height:100%;overflow:hidden;overflow-y:auto;}
	.sidebar .list{padding:80px 0 0;}
	.sidebar .list dt.dep1{position:relative;}
	.sidebar .list dt.dep1:before{content:"";position:absolute;top:50%;right:20px;margin-top:-4px;background:url(../images/ico_aside1.png) 0 50% no-repeat;background-size:14px auto;width:14px;height:8px;transition:all 0.4s 0s;}
	.sidebar .list dt{border-bottom:1px solid #efefef;}
	.sidebar .list dt a{display:block;font-size:16px;font-weight:500;padding:13px 30px;}
	.sidebar .list dt:first-child{border-top:0;}
	.sidebar .list dd{display:none;background-color:#01426b;padding:15px 0;}
	.sidebar .list dd .ls a{position:relative;display:block;color:#fff;font-size:14px;padding:3px 45px;}
	.sidebar .list dd .ls a:hover{color:#b1ebfb;}
	.sidebar .list dt.active:before{transform:rotate(180deg);opacity:0.7;}

	input[id="hamburger"]{position:fixed;top:33px;right:15px;display:block;border-radius:50%;visibility:hidden;padding:0;width:23px;height:16px;}
	input[id="hamburger"] + label{display:block;position:absolute;top:33px;right:15px;margin-left:0;padding:0 !important;width:23px;height:16px;cursor:pointer;transition:all 0.4s 0s;z-index:1100;}
	input[id="hamburger"] + label span{display:block;position:absolute;left:0;width:100%;height:2px;background:#fff;transition:all 0.35s;}
	input[id="hamburger"] + label span:nth-child(1){top:0;}
	input[id="hamburger"] + label span:nth-child(2){top:50%;margin-top:-1px;}
	input[id="hamburger"] + label span:nth-child(3){bottom:0;}
	input[id="hamburger"]:checked + label{position:absolute;top:24px;left:auto;right:15px;z-index:1250;}
	input[id="hamburger"]:checked + label span{background-color:#545454;}
	input[id="hamburger"]:checked + label span:before{display:none;}
	input[id="hamburger"]:checked + label span:nth-child(1){top:8px;transform:translateY(-50%) rotate(45deg);}
	input[id="hamburger"]:checked + label span:nth-child(2){opacity:0;}
	input[id="hamburger"]:checked + label span:nth-child(3){bottom:8px;transform:translateY(50%) rotate(-45deg);}
	input[id="hamburger"]:checked + label span:nth-child(1),
	input[id="ham-burger"]:checked + label span:nth-child(3){margin-left:0;width:100%;}
	input[id="hamburger"]:checked + label + div.sidebar{top:0;right:0;}
	input[id="hamburger"]:checked + label + div.sidebar .modalBg{display:block;}
	input[id="hamburger"]:checked + label + div.sidebar .modal{display:block;}
	input[id="hamburger"]:checked + label + div.sidebar .title .tit{position:fixed;top:0;left:0;}
	
	.mKeysub{background-image:url(../images/k_keysub1_m.jpg);background-size:100% auto;padding-top:69%;height:auto;}
	.mKeysub h3{bottom:30px;left:15px;font-size:23px;transform:translateX(0);width:auto;}
	.mKeysub h3 span:before{top:-5px;right:5px;background:url(../images/ico_title1_m.png) 0 0 no-repeat;background-size:17px auto;width:17px;height:17px;}
	.mKeysub.type1_2{background-image:url(../images/k_keysub1_2_m.jpg);}
	.mKeysub.type1_3{background-image:url(../images/k_keysub1_3_m.jpg);}
	.mKeysub.type1_4{background-image:url(../images/k_keysub1_3_m.jpg);}
	.mKeysub.type2{background-image:url(../images/k_keysub2_m.jpg);}
	.mKeysub.type2_2{background-image:url(../images/k_keysub2_2_m.jpg);}
	.mKeysub.type2_3{background-image:url(../images/k_keysub2_3_m.jpg);}
	.mKeysub.type3{background-image:url(../images/k_keysub3_m.jpg);}
	.mKeysub.type4{background-image:url(../images/k_keysub4_m.jpg);}
	.mKeysub.type5{background-image:url(../images/k_keysub5_m.jpg);}

	.mSub1 + .mSub1{padding-top:70px;}
	.mSub1{padding-bottom:0;}
	.mSub1 .list1 + .list1{margin-top:20px;padding-top:15px;}
	.mSub1 .list1{position:relative;margin:50px 0 0;padding:15px 0;width:auto;}
	.mSub1 dt{position:absolute;top:0;left:15px;width:100px;}
	.mSub1 dt span{background-color:#898993;font-size:27px;line-height:27px;height:31px;}
	.mSub1 dt em{bottom:-20px;font-size:14px;padding:0 0 0 22px;}
	.mSub1 dd:last-child,
	.mSub1 dd{background-color:#f8f8f8;padding:30px 0 20px;}
	.mSub1 dd li{border-radius:0;border-top:1px dashed #c9caca;font-size:14px;margin:0;padding:10px 15px;}
	.mSub1 dd li:first-child{border-top:0;}
	.mSub1 dd.current{background-color:#eff6fb;}
	.mSub1.type2 dd li,
	.mSub1.type2 dd.current li{background-color:transparent;}
	.mSub1.type2{background-color:transparent;padding-top:70px;}

	.mSub1.type3{padding:40px 0 0;}
	.mSub1.type3:first-child,
	.mSub1.type3 .list1{margin-top:0;padding-top:0;}
	.mSub1.type3 dd{background-color:transparent;padding-top:55px;}
	.mSub1.type3 dd li{border:0;font-size:14px;padding-bottom:5px;margin-bottom:0;}
	.mSub1.type3 dd li .dt{top:10px;left:30px;}
	.mSub1.type3 dd li .tx{padding-left:70px;}
	.mSub1.type3.type2{padding:40px 0 0;background-color:#f8f8f8;}
	
	.mSub1.type4{margin-top:-20px;}
	.mSub1.type4 .list1{padding-top:0;}
	.mSub1.type4 dt{position:static;float:none;padding:0 0 30px;text-align:center;width:auto;}
	.mSub1.type4 dt span{display:inline-block;background-color:#545454;font-size:27px;margin:0 auto;padding:0 10px;width:auto;line-height:27px;height:31px;}
	.mSub1.type4 dd{background:transparent;padding:0;}
	.mSub1.type4 dd li{border:0;font-size:13px;padding:0 15px 10px 45px;}
	.mSub1.type4 dd li:before{top:6px;left:30px;width:5px;height:5px;}
	.mSub1.type4 dd li .dt{position:absolute;top:13px;left:105px;}
	.mSub1.type4 dd li .tx{display:block;padding:0 0 0 160px;}
	.mSub1.type4 .map{position:static;text-align:center;padding:0 15px;}
	.mSub1.type4 .map img{width:80%;}
	.mSub1.type4 .mInfo2.left{margin-top:0;text-align:center;}

	.mSub2 .con1{margin:0 0 70px;padding:0 15px;}
	.mSub2 .con1 img{width:100%;}
	
	.mSub3 .con{width:auto;}
	.mSub3 .back img{width:100%;}
	.mSub3 .con .txt1{position:relative;top:auto;left:auto;line-height:180%;font-size:13px;padding:0 0 40px;}
	.mSub3 .list{background-color:#fff;padding:40px 15px 0;zoom:1;}
	.mSub3 .list:after{display:block;clear:both;content:''}
	.mSub3 .list .rt,
	.mSub3 .list .lt{position:relative;top:auto;left:auto;float:left;width:50%;}
	.mSub3 .list .rt{left:auto;right:auto;}
	.mSub3 .list .col + .col{margin-top:35px;}
	.mSub3 .list .col .im img{width:calc(100% - 20px);}
	.mSub3 .list .col .tx,
	.mSub3 .list .col .tx.fs18{font-size:14px;line-height:130%;padding-top:7px;}

	.mSub4 .con1{padding:50px 15px;}
	.mSub4 .con1 .mTitle1{margin-bottom:40px;}
	.mSub4 .con1 img{width:100%;}
	
	.mGrid1{padding:50px 0 30px;}
	.mGrid1 .list{width:auto;}
	.mGrid1 .list img{width:100%;}
	.mGrid1 .list .lt,
	.mGrid1 .list .rt{float:none;width:auto;}
	.mGrid1 .list .rt{margin:20px 0 0;}
	.mGrid1 .list .tx{font-size:15px;padding:0 0 30px;}
	.mGrid1 + .mInfo2{margin:45px 20px;}
	.mGrid1 + .mInfo2.mt1{margin-top:25px;}
	
	.mList1{padding:50px 15px 0 5px;width:auto;}
	.mList1 li{font-size:22px;font-size:22px;margin-left:10px;padding-bottom:30px;width:calc(50% - 10px);}
	.mList1 li .img img{width:100%;height:auto;}
	.mList1 li .txt{font-size:12px;padding-top:5px;}

	.mList2{padding:65px 15px 35px;}
	.mList2 .mTitle1{margin-bottom:40px;}
	.mList2 ul{width:auto;}
	.mList2 li{box-shadow:inset -1px -1px 1px 1px rgba(0,0,0,0.07);border-radius:15px;margin:-15% 0 0;padding:10px;width:calc(70% - 20px);}
	.mList2 li img{width:100%;}
	.mList2 li.rt{float:right;}
	.mList2 li:first-child{margin-top:0;}
	
	.mTitle1{font-size:18px;}
	.mTitle1 span{padding-bottom:8px;}
	.mTitle1 span:before{height:1px;}
	.mTitle1.mb80{margin-bottom:40px;}
		
	.mTitle1.type2 span{font-size:20px;padding-top:10px;}

	.mTitle1.type2ForMobile{background-color:#01426b;border-radius:5px;color:#fff;font-size:18px;padding:13px 10px;}
	.mTitle1.type2ForMobile span{padding:0;}
	.mTitle1.type2ForMobile span:before{display:none;}

	.mInfo1{font-size:12px;margin-top:15px;}
	.mInfo2{font-size:14px;margin:25px 20px 0;}

	.mTab1.type1ForMobile{max-width:none;padding:0 15px;}
	.mTab1.type1ForMobile .ls{float:none;width:auto;}
	.mTab1.type1ForMobile .ls a{line-height:130%;padding:6px 10px;height:auto;}
	.mTab1.type1ForMobile .ls + .ls{margin-bottom:5px;}

	.mTab1{margin:0 auto 50px;max-width:320px;}
	.mTab1 .ls{display:block;float:left;margin-bottom:10px;width:50%;}
	.mTab1 .ls a{font-size:14px;padding:0;line-height:30px;height:30px;}
	.mTab1 .ls.w100perForMobile{width:100%;}
		
	.mImage1{padding:30px 15px 55px;}
	.mImage1 img{width:100%;}
	.mImage1:before{bottom:-39px;background-image:url(../images/ico_engine2_3_1_m.png);}

	.mSub5 .mTitle1{margin-bottom:40px;}
	.mSub5 .con1{padding:0 15px 40px;}
	.mSub5 .con1 img{width:100%;}
	.mSub5 .mInfo2{background-color:#f9f8f9;margin:0 0;padding:40px 15px;}
	
	.mSub6 .list{padding:35px 15px;}
	.mSub6 .list ul{margin:0 auto;width:auto;}
	.mSub6 .list ul:after{display:block;clear:both;content:''}
	.mSub6 .list li{margin-left:10px;width:calc(33.33% - 10px);}
	.mSub6 .list li .img img{width:100%;}
	.mSub6 .list li .txt{font-size:11px;padding-right:0;margin-right:7%;line-height:130%;min-height:auto;}
	.mSub6 .list li .txt .ts{font-size:11px;margin-top:3px;line-height:130%;}

	.mSub7{background-color:#fff;padding:0;}
	.mSub7 .bg{width:auto !important;}
	.mSub7 .map{float:none;width:auto;height:auto;padding-top:100%;}
	.mSub7 .txt{padding:15px 0 0;}
	.mSub7 .txt li{border-radius:15px;background:url(../images/ico_intro1_4_1_m.png) 25px 50% no-repeat;background-size:68px auto;margin-top:15px;padding:5px 15px 0 110px;min-height:68px;}
	.mSub7 .txt li .ti{font-size:14px;padding:0;}
	.mSub7 .txt li .ls{font-size:14px;padding-bottom:0;}
	.mSub7 .txt li.ls2{background-image:url(../images/ico_intro1_4_2_m.png);}
	.mSub7 .txt li.ls3{background-image:url(../images/ico_intro1_4_3_m.png);}
	.mSub7 .info{font-size:16px;padding-top:30px;}
	.mSub7 .info .gab1{display:block;margin:5px 0 0;}
	
	.mSu8 ul{margin:35px 0 0 -20px;width:auto;}
	.mSu8 li{font-size:12px;margin:0 0 20px 20px;text-align:center;width:calc(50% - 20px);height:auto;}
	.mSu8 li .ti.type2,
	.mSu8 li .ti{background-position:50% 20px;background-size:11px auto;line-height:120%;padding:35px 10px 5px;height:auto;min-height:30px;}
	.mSu8 li .ti .s{font-size:10px;}
	.mSu8 li.image{padding-top:40px;height:170px;background-size:cover;}
	.mSu8 li.image .ic{font-size:10px;padding:0 15px;border-radius:20px;line-height:20px;height:20px;}
	.mSu8 li.image .ti{font-size:17px;line-height:150%;margin-top:15px;}
	.mSu8 li.image .tx{font-size:12px;margin-top:10px;}
		
	.mSub9 .mTitle1{margin-bottom:35px;}
	.mSub9 .mTitle1 + .mInfo2{margin-top:-15px;}
	.mSub9 .con + .con{margin-top:75px;}
	.mSub9 .con1 .list{background-image:url(../images/img_business3_1_1_m.jpg);background-size:cover;padding:35px 15px;}
	.mSub9 .con1 .list ul{width:auto;}
	.mSub9 .con1 .list li{display:table;float:none;border-radius:10px;margin:0;padding:15px;width:calc(100% - 30px);min-height:107px;height:auto;}
	.mSub9 .con1 .list li + li{margin-top:15px;}
	.mSub9 .con1 .list li .img{display:table-cell;vertical-align:middle;border-radius:10px;margin:0 auto;overflow:hidden;width:155px;}
	.mSub9 .con1 .list li .img img{width:100%;}
	.mSub9 .con1 .list li .txt{display:table-cell;vertical-align:middle;text-align:left;padding:0 0 0 15px;}
	.mSub9 .con1 .list li .txt .ti{font-size:14px;}
	.mSub9 .con1 .list li .txt .tx{font-size:11px;margin-top:5px;}

	.mSub9 .con2 .list{margin:65px auto 0;padding:0;width:auto;}
	.mSub9 .con2 .list ul{float:none;padding:0;width:auto;}
	.mSub9 .con2 .list li{width:50%;}
	.mSub9 .con2 .list li:before{content:"";position:absolute;top:35px;left:-20px;background-image:url(../images/ico_business3_1_3_2_m.png);background-size:34px auto;width:34px;height:19px;}
	.mSub9 .con2 .list li .img img{width:89px;}
	.mSub9 .con2 .list li .txt{padding-top:30px;}
	.mSub9 .con2 .list li .txt .ti{font-size:17px;padding-top:0;}
	.mSub9 .con2 .list li .txt .tx{font-size:11px;line-height:150%;padding-top:0;}
	.mSub9 .con2 .list ul.forMobile li:before{top:99px;background-image:url(../images/ico_business3_1_3_m.png);}

	.mSub9 .con3{background-color:#eff6fb;padding:40px 0}
	.mSub9 .con3 .list{margin:65px auto 0;padding:0;width:auto;}
	.mSub9 .con3 .list ul{float:none;padding:0;width:auto;}
	.mSub9 .con3 .list li{width:50%;}
	.mSub9 .con3 .list li:before{content:"";position:absolute;top:35px;left:-20px;background-image:url(../images/ico_business3_1_3_2_m.png);background-size:34px auto;width:34px;height:19px;}
	.mSub9 .con3 .list li .img img{width:89px;}
	.mSub9 .con3 .list li .txt{padding-top:30px;}
	.mSub9 .con3 .list li .txt .ti{font-size:17px;padding-top:0;}
	.mSub9 .con3 .list li .txt .tx{font-size:11px;line-height:150%;padding-top:0;}
	.mSub9 .con3 .list ul.forMobile{padding:20px 0 0;}
	.mSub9 .con3 .list ul.forMobile li:before{top:99px;background-image:url(../images/ico_business3_1_3_m.png);}

	.mSub9 .con4 .mInfo2{font-size:14px;}
	.mSub9 .con4 .mInfo2.fs18{font-size:12px;margin-top:40px;}
	.mSub9 .con4 .list{margin-top:60px;width:auto;}
	.mSub9 .con4 .list li{float:none;padding:0 15px;width:auto;}
	.mSub9 .con4 .list li + li{margin-top:70px;}
	.mSub9 .con4 .list li .img img{width:auto;height:304px;}
	.mSub9 .con4 .list li .tit{font-size:17px;}
	.mSub9 .con4 .list li .txt,
	.mSub9 .con4 .list li .txt strong{font-size:19px;}

	.w1280{padding:0 15px;width:auto;}
	
	.mStep1{padding:0 10px;}
	.mStep1 ul{-webkit-flex:block;display:block;}
	.mStep1 li{position:relative;display:block;text-align:center;background:none !important;padding:2px 0 2px 95px;text-align:left;}
	.mStep1 li + li{margin:15px 0 0;}
	.mStep1 li:before{display:none;}
	.mStep1 li > span{display:inline-block;vertical-align:top;}
	.mStep1 li .st{position:absolute;top:0;left:0;background-color:#33a8d9;border-radius:28px;color:#fff;font-size:14px;text-align:center;width:85px;line-height:28px;height:28px;}
	.mStep1 li .ti{font-size:14px;margin:0;}
	.mStep1 li .tx{font-size:13px;margin:0 0 0 5px;}
	.mStep1 li.s2 .st{background-color:#0387be;}
	.mStep1 li.s3 .st{background-color:#036993;}
	.mStep1 li.s4 .st{background-color:#01426b;}
	.mStep1 li.s5 .st{background-color:#00273f;}
	.mStep1 + .mTitle1{margin-top:90px;}
	
	.mTitle1 + .mView1,
	.mTitle1 + .mBoard1{margin-top:25px;}
	.mBoard1 thead{display:none;}
	.mBoard1 .num{display:none;}
	.mBoard1 .w2{width:90px;}
	.mBoard1 th,
	.mBoard1 td{border-bottom:1px dashed #c9caca;font-size:14px;padding:15px 10px;height:auto;}
	.mBoard1 .date{color:#838384;font-size:13px;}
		
	.mView1 .title{background-color:#fff;border-bottom:1px dashed #c9caca;font-size:16px;font-weight:500;color:#000;padding:0 15px 25px;}
	.mView1 .title .date{position:absolute;top:18px;right:0;width:200px;}
	.mView1 .article{font-size:14px;line-height:180%;padding:20px 25px;}
	.mView1 .article .date{color:#838384;font-size:12px;margin-top:20px;}

	.mPn1 > div{position:relative;border-top:1px solid #bfbfbf;font-size:20px;padding:22px 30px 22px 230px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
	.mPn1 .ti{position:absolute;top:22px;left:85px;color:#929293;}

	.mPag{margin:30px -15px 0;}
	.mPag a,
	.mPag strong{font-size:15px;margin:0 -2px;min-width:35px;line-height:35px;height:35px;}
	.mPag .first,
	.mPag .last,
	.mPag .prev,
	.mPag .next{background-size:auto 10px;}

	.mButton1{padding-top:20px;}
	.mButton1.right.centerForMobile{text-align:center;}
	.mBtn1{font-size:15px;line-height:38px;height:38px;}
		
	.mKeymain{margin-bottom:40px;height:100vh;}
	.mKeymain .swiper-slide.ls1{background-image:url(../images/img_keymain1_m.jpg);}
	.mKeymain .swiper-slide.ls2{background-image:url(../images/img_keymain2_m.jpg);}
	.mKeymain .swiper-slide.ls3{background-image:url(../images/img_keymain3_m.jpg);}
	.mKeymain .text{bottom:auto;top:50%;left:35px;margin:0;transform:translate(0, calc(-50% + 0.5px));width:calc(100% - 70px);}
	.mKeymain .text h3{font-size:24px;letter-spacing:-1px;}
	.mKeymain .text .info{font-size:13px;margin-top:15px;padding:0;}
	.mKeymain .text .info:before{display:none;}
	.mKeymain .swiper-pagination{bottom:45px;left:0% !important;transform:translateX(0);text-align:center;width:100%;}
	.mKeymain .swiper-pagination .swiper-pagination-bullet{opacity:0.5;margin:0 5px;width:12px;height:12px;}
	.mKeymain .swiper-pagination .swiper-pagination-bullet-active{opacity:1;}

	.mMain1 .mTitle1{margin-bottom:25px;}
	.mMain1 li{float:none;background-image:url(../images/img_main1_1_m.jpg);padding:30px 0;width:auto;height:auto;}
	.mMain1 li .text{position:static;padding:0 0 0 35px;}
	.mMain1 li .text .tit{font-size:15px;}
	.mMain1 li .text .tit strong{font-size:22px;letter-spacing:0;margin:5px 0 15px;}
	.mMain1 li .text .txt{font-size:14px;line-height:130%;margin-top:0;height:auto;}
	.mMain1 li .text .txt .arr{display:block;background-size:20px auto;margin-top:15px;width:20px;height:20px;}
	.mMain1 li.ls2{background-image:url(../images/img_main1_2_m.jpg);}
	.mMain1 li.ls3{background-image:url(../images/img_main1_3_m.jpg);}
	.mMain1 li.notHover,
	.mMain1 li.hover{width:auto;}
	.mMain1 li.hover .text .txt{height:auto;}

	.mMain2 .mTitle1{margin-bottom:70px;}
	.mMain2 ul{position:relative;zoom:1;}
	.mMain2 ul:after{display:block;clear:both;content:''}
	.mMain2 li{position:relative;float:left;background:url(../images/img_main3_1.jpg) 50% 50% no-repeat;background-size:cover;width:33.33%;height:520px;-webki2-transition: all 0.6s ease-in-out;-moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;transition: all 0.6s ease;z-index: 1;}
	.mMain2 li .text{display:block;position:relative;height:100%;}
	.mMain2 li .text .tit{display:block;color:#fff;font-size:20px;letter-spacing:0;line-height:130%;padding:85px 0 0 75px;}
	.mMain2 li .text .tit strong{display:block;font-size:50px;font-weight:500;letter-spacing:-2px;margin:20px 0 35px -3px;}
	.mMain2 li .text .txt{display:block;color:#fff;font-size:20px;line-height:130%;padding:110px 0 0 75px;}
	.mMain2 li .text .txt .tx{display:block;}
	.mMain2 li .text .txt .bt{display:inline-block;background:url(../images/ico_arrow1.png) calc(100% - 33px) 50% no-repeat;color:#fff;font-size:18px;border:1px solid #fff;border-radius:60px;margin:30px 0 0;padding:0 100px 0 35px;line-height:60px;height:60px;}
	.mMain2 li.ls2{background-image:url(../images/img_main3_2.jpg);}
	.mMain2 li.ls3{background-image:url(../images/img_main3_3.jpg);}
	.mMain2 li.notHover{width:30%;}
	.mMain2 li.hover{width:40%;}


}
